@import url(../App.css);
.section {
  background-color: bisque;
}
.RandomButton {
  height: calc(var(--spacing-reference)*8);
  width: calc(var(--spacing-reference)*8);
  font-size: var(--font-size-reference);
  cursor: pointer;
  border: solid black 3px;
  border-radius: 50%;
  box-shadow: rgb(0, 0, 0) 2px 2px 2px 2px;
  color: var(--couleur-texte);
  background-color: rgba(3, 67, 91, 0.853);
  transition: 0.2s;
}
.MovableButton {
  padding: calc(var(--spacing-reference) * 1) calc(var(--spacing-reference) * 2);
  font-size: calc(var(--font-size-reference) * 1.5);
  height: calc(var(--spacing-reference) * 6);
  width: calc(var(--spacing-reference) * 18);
  cursor: pointer;
  border: solid black 3px;
  box-shadow: rgb(0, 0, 0) 2px 2px 2px 2px;
  border-radius: 15px;
  transition: 0.2s;
  color: var(--couleur-texte);
}
