@import url(../App.css);
.firework {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: radial-gradient(circle, #1a1a1a, #000);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#launchButton {
  padding: calc(var(--spacing-reference) * 1) calc(var(--spacing-reference) * 2);
  font-size: calc(var(--font-size-reference) * 1.5);
  background-color: tomato;
  height: calc(var(--spacing-reference) * 6);
  width: calc(var(--spacing-reference) * 14);
  cursor: pointer;
  border: solid black 3px;
  box-shadow: rgb(82, 82, 82) 1px 1px 1px 1px;
  border-radius: 15px;
  z-index: 100;
  color: var(--couleur-texte);
  font-weight: bold;
  transition: 0.3s transform ease;
}

#launchButton:active {
  transform: scale(0.95);
}

#launchButton:hover {
  background-color: #963e3e;
}

.projectile {
  position: absolute;
  width: calc(var(--spacing-reference) * 1);
  height: calc(var(--spacing-reference) * 1);
  background-color: var(--couleur-texte);
  border-radius: 50%;
  z-index: 10;
}

.burst {
  position: absolute;
  width: calc(var(--spacing-reference) * 1);
  height: calc(var(--spacing-reference) * 0.75);
  border-radius: 50%;
  pointer-events: none;
}
