@import url(../App.css);

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  flex-wrap: wrap;
}

.project-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: var(--spacing-reference);
  background: #df8e8e;
  width: 100%;
}

.project-2 h2 {
  font-size: calc(var(--font-size-reference) * 3);
  color: var(--couleur-titre);
}

.project-2 h2 span {
  color: var(--couleur-texte);
}

.project-2 p {
  font-size: calc(var(--font-size-reference) * 1.5);
  color: var(--couleur-titre);
  text-decoration: underline;
}

.project-2 span {
  font-size: calc(var(--font-size-reference) * 1.2);
  border: solid #012030 2px;
  border-radius: 5px;
  padding: calc(var(--spacing-reference) * 0.5);
  text-transform: uppercase;
  color: var(--couleur-titre);
  width: fit-content;
  max-width: 90%;
  margin: calc(var(--spacing-reference) * 0.5);
}

.project-2 .description {
  color: var(--couleur-texte);
  text-align: left;
  text-decoration: none;
}

@media (min-width: 992px) {
  .section {
    flex-wrap: nowrap;
  }

  .project-2 {
    flex-direction: column;
    width: 100%;
    margin: auto;
  }

  .project-2 h2 {
    font-size: calc(var(--font-size-reference) * 4);
  }

  .project-2 p {
    font-size: calc(var(--font-size-reference) * 1.75);
  }

  .project-2 span {
    font-size: calc(var(--font-size-reference) * 1.5);
    margin: calc(var(--spacing-reference) * 1) calc(var(--spacing-reference) * 1);
  }
  .project-2 .description {
    font-size: calc(var(--font-size-reference) * 1.5);
    max-width: 50%;
    margin: 0 auto;
    text-align: left;
  }
}
