@import url(../../App.css);

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.project-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  background: #588e85;
}

.project-1 h2 {
  font-size: 3rem;
  color: var(--couleur-titre);
}

.project-1 p {
  font-size: 1.5rem;
  color: var(--couleur-titre);
  text-decoration: underline;
}

.project-1 a {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--couleur-texte);
  transition: all 0.3s ease-in-out;
  border: none;
  border-radius: 25px;
  background-color: var(--couleur-titre);
  padding: 1rem 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin-top: 1rem;
  cursor: pointer;
}

.project-1 a:hover {
  background-color: #034161;
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.project-1 a:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 115, 180, 0.6);
}

.project-1 span {
  font-size: 1.2rem;
  border: solid var(--couleur-titre) 2px;
  border-radius: 5px;
  padding: 0.5rem;
  text-transform: uppercase;
  color: var(--couleur-titre);
  width: fit-content;
  max-width: 90%;
  margin: 0.5rem;
}

.project-1 img {
  width: 90%;
  max-width: 25rem;
  height: auto;
  margin: 0.5rem 0;
  border-radius: 8px;
}

.project-1 .description {
  color: var(--couleur-texte);
  text-align: left;
  text-decoration: none;
}
.description h3 {
  color: var(--couleur-titre);
}

@media (min-width: 992px) {
  .section {
    flex-direction: row;
    gap: 2rem;
  }

  .project-1 {
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 2rem;
  }

  .project-1 h2 {
    font-size: 4rem;
  }

  .project-1 p {
    font-size: 1.75rem;
  }

  .project-1 img {
    width: 50%;
    max-width: 30rem;
    margin: 1rem;
  }

  .project-1 span {
    font-size: 1.5rem;
    margin: 0.5rem 1rem;
  }

  .project-1 a {
    font-size: 1.5rem;
    padding: 1rem 2.5rem;
  }

  .project-1 .description {
    font-size: 1.5rem;
    max-width: 50%;
    margin: 0 auto;
    text-align: left;
  }
}
