* {
  --couleur-titre: #012030;
  --couleur-texte: #f1f1f1;
  --spacing-reference: 1rem;
  --font-size-reference: 1.25rem;
  --box-shadow: 1px 1px 1px 1px black;

  font-family: "Crimson Text", serif;
}
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

.contact {
  background: #e74c3c;
  color: var(--couleur-texte);
}
.fp-watermark {
  display: none !important;
}
#fp-nav ul li a span {
  background: var(--couleur-texte);
  padding: calc(var(--spacing-reference) * 0.5);
  border: 2px solid black;
  box-shadow: var(--box-shadow);
}
#fp-nav ul li {
  padding: var(--spacing-reference);
}
#fp-nav ul li .fp-tooltip.fp-right {
  color: transparent;
}
@media (min-width: 992px) {
  #fp-nav ul li a span {
    background: var(--couleur-texte);
    padding: calc(var(--spacing-reference) * 0.5);
    border: 2px solid black;
    box-shadow: var(--box-shadow);
  }
  #fp-nav ul li {
    padding: calc(var(--spacing-reference) * 0.5);
  }
  #fp-nav ul li .fp-tooltip.fp-right {
    top: calc(var(--spacing-reference) * 0.5);
    font-size: var(--font-size-reference);
    padding-right: calc(var(--spacing-reference) * 0.5);
    -webkit-text-stroke: 2px black;
    letter-spacing: 0.5rem;
  }
  #fp-nav ul li:nth-child(5) .fp-tooltip.fp-right {
    -webkit-text-stroke: 2px var(--couleur-texte);
  }
}
