.section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  flex-wrap: wrap;
}

.home {
  background: #d7a184;
  color: var(--couleur-texte);
}
.ProfilPicture {
  height: auto;
  width: 20rem;
}
h1 {
  font-size: 3rem;
  color: #012030;
}

.presentation {
  font-size: 1.5rem;
  text-transform: uppercase;
}

span {
  font-size: 1.2rem;
  border: solid #012030 2px;
  border-radius: 5px;
  padding: 0.5rem;
  text-transform: uppercase;
  color: var(--couleur-titre);
  width: auto;
  margin: 0.5rem;
  display: inline-block;
  max-width: 100%;
  box-sizing: border-box;
}
.informations {
  font-size: 1.5rem;
}
.informations a {
  text-decoration: none;
  color: var(--couleur-titre);
  transition: 0.6s;
}
.informations a:hover {
  color: skyblue;
}

@media (min-width: 992px) {
  .section {
    flex-wrap: nowrap;
    gap: 2rem;
  }

  h1 {
    font-size: 4rem;
  }

  .presentation {
    font-size: 2.5rem;
  }

  span {
    font-size: 1.5rem;
    padding: 0.75rem;
  }

  .informations {
    font-size: 2rem;
  }

  .informations a {
    font-size: 2rem;
  }
}
