@import url(../App.css);
.section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  flex-wrap: wrap;
}

.home {
  background: #d7a184;
  color: var(--couleur-texte);
}
.ProfilPicture {
  height: auto;
  width: calc(var(--spacing-reference) * 20);
}
h1 {
  font-size: 4rem;
  color: var(--couleur-titre);
}

.presentation {
  font-size: var(--font-size-reference);
  text-transform: uppercase;
}

span {
  font-size: 1.2rem;
  border: solid var(--couleur-titre) 2px;
  border-radius: calc(var(--spacing-reference) * 0.5);
  padding: calc(var(--spacing-reference) * 0.5);
  text-transform: uppercase;
  color: var(--couleur-titre);
  width: auto;
  margin: calc(var(--spacing-reference) * 0.5);
  display: inline-block;
  max-width: 100%;
  box-sizing: border-box;
}
.informations {
  font-size: calc(var(--font-size-reference) * 1.5);
}
.informations a {
  text-decoration: none;
  color: var(--couleur-titre);
  transition: 0.6s;
}
.informations a:hover {
  color: skyblue;
}

@media (min-width: 992px) {
  .section {
    flex-wrap: nowrap;
    gap: calc(var(--spacing-reference) * 2);
  }

  h1 {
    font-size: calc(var(--font-size-reference) * 2);
  }

  .presentation {
    font-size: calc(var(--font-size-reference) * 1.5);
  }

  span {
    font-size: calc(var(--font-size-reference) * 1.5);
    padding: calc(var(--spacing-reference) * 0.5);
  }

  .informations {
    font-size: calc(var(--font-size-reference) * 1.5);
  }

  .informations a {
    font-size: calc(var(--font-size-reference) * 1.5);
  }
}
